<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= mytitle %></title>
    <style>
      input,
      button {
        font-size: 33px;
      }
    </style>
  </head>
  <body>
    <h1>What is your Username?</h1>
    <form action="/" method="post">
      <input name="usernameee" type="text" />
      <br />
      <br />
      <button>send to DB</button>
    </form>
    <h1>your Name is <%= arr.at(-1).usernameee %></h1>
  </body>
</html>
